{
  "env": {
    "test": {
      "presets": [
        [
          "@jitesoft/main",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  },
  "presets": [
    "@jitesoft/main"
  ]
}
